*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 80px;
    font-weight: bold;
    text-align: center;

}
p{
    margin: 80px 100px;
    text-align: center;
    font-size: 50px;
}
/* .gallary-1{
    background-image: url("picture/gallary-1.jpg");
    height:1200px;
    width: 1800px;
    margin: 50px 50px;
    background-size: cover;
} */
.gallary-contanier{
    display: grid;
    column-gap: 20px;
    row-gap: 80px;
    grid-template-columns: repeat(3,1fr);
    margin-left:90px;
}
@keyframes scroll{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.gallary{
    animation: scroll linear;
    animation-timeline: view();
    animation-range: entry 0 cover 50%;
}